<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
 <div id="header">
<h3>historyden.com</h3>
 </div>   

 <div id="nav1">
<ul>
  <li><a href="">Home</a></li>
  <li><a href="">Ancient Greece</a></li>
  <li><a href="">Ancient Rome</a></li>
  <li><a href="">World war II</a></li>
</ul>
</div>  
<div class="sideright">
  <h1> Lecture Date</h1>
  <p> 11/07 - lecture on ceaser</p>
  <p> 11/14 - lecture on Alexander</p>
  <p> 11/21 - lecture on Hannibal</p>
  <p> 11/28 - lecture on Napolean</p>
  <p> 11/05 - lecture on Scipio</p>
  </div> 
  <div class="sideright">
    <h1> Lecture Date 2</h1>
    <p> 11/07 - lecture on ceaser</p>
    <p> 11/14 - lecture on Alexander</p>
    <p> 11/21 - lecture on Hannibal</p>
    <p> 11/28 - lecture on Napolean</p>
    <p> 11/05 - lecture on Scipio</p>
    </div>
    <div>
      <img class="image" src="Dan.jpg" alt="">
    </div>
<div id="main">
 <h1>AFTERMATH OF THE BATTLE OF CANNAE</h1>  
<p>In Nigeria as in other African countries several roots, 
leaves, fruits and bark of plants are used for different 
medicinal purpose, some of which have been discovered in many 
researches to be rich secondary metabolites like tannins, 
alkaloids, flavonoids, phenols, steroids and volatile oils
 which are responsible for their therapeutic activities 
 (Cowan, 2007 Rabe and Vanstoden, 2000). 
 </p>
 <h2>AFTERMATH OF THE BATTLE OF CANNAE</h2>  
 <p>In Nigeria as in other African countries several roots, 
 leaves, fruits and bark of plants are used for different 
 medicinal purpose, some of which have been discovered in many 
 researches to be rich secondary metabolites like tannins, 
 alkaloids, flavonoids, phenols, steroids and volatile oils
  which are responsible for their therapeutic activities 
  (Cowan, 2007 Rabe and Vanstoden, 2000). 
  </p>
  </div>
  <div id="main">
    <h1>AFTERMATH OF THE BATTLE OF CANNAE</h1>  
   <p>In Nigeria as in other African countries several roots, 
   leaves, fruits and bark of plants are used for different 
   medicinal purpose, some of which have been discovered in many 
   researches to be rich secondary metabolites like tannins, 
   alkaloids, flavonoids, phenols, steroids and volatile oils
    which are responsible for their therapeutic activities 
    (Cowan, 2007 Rabe and Vanstoden, 2000). 
    </p>
    <h2>AFTERMATH OF THE BATTLE OF CANNAE</h2>  
    <p>In Nigeria as in other African countries several roots, 
    leaves, fruits and bark of plants are used for different 
    medicinal purpose, some of which have been discovered in many 
    researches to be rich secondary metabolites like tannins, 
    alkaloids, flavonoids, phenols, steroids and volatile oils
     which are responsible for their therapeutic activities 
     (Cowan, 2007 Rabe and Vanstoden, 2000). 
     </p>
     </div>

     <div id="footer">
      <ul>
        <li><a href="">About historyden</a></li>
        <li><a href="">Careers</a></li>
        <li><a href="">Help</a></li>
        <li><a href="">Contact</a></li>
      </ul>
&copy; 2014 wistoryden.com. All Rights Reserved.
     </div> 
  
</body>
</html>